<table>
    <tr>
        <th style="text-align: left">{{ _('Status') }}</th>
        <td>{{ ticket.current_status.status }}</td>
    </tr>
    <tr>
        <th style="text-align: left">{{ _('Priority') }}</th>
        <td>{{ ticket.ticket_priority.priority }}</td>
    </tr>
    <tr>
        <th style="text-align: left">{{ _('Assigned') }}</th>
        <td>{% if ticket.assigned.username %}{{ ticket.assigned.name }}{% else %}ticket not claimed{% endif %}</td>
    </tr>
    <tr>
        <th style="text-align: left; vertical-align: text-top">{{ _('Content') }}</th>
        <td>{{ ticket.content }}</td>
    </tr>
</table>