{% extends "email_base.html" %}
<!-- extend from base layout -->
{% block content %}
    <h1>
        {{ title }}
    </h1>
    <p>
        The following tickets that you have created or been assigned have not yet been closed.
    </p>
    <table>
        <tr>
            <th>Ticket Number</th>
            <th>Title</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Assigned</th>
        </tr>
        {% for ticket in tickets %}
            <tr>
                <td><a href="{{ base_url + url_for('flicket_bp.ticket_view', ticket_id=ticket.id) }}">{{ ticket.id_zfill }}</a></td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.ticket_priority.priority }}</td>
                <td>{{ ticket.current_status.status }}</td>
                <td>{{ ticket.assigned.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
