{% extends "flicket_base.html" %}
<!-- extend from base layout -->
{% block content %}
    <!-- {{ self._TemplateReference__context.name }} -->
    <div class="container">

        <div class="row m-2 p-2 border rounded bg-white">
            <div class="col">
                <h1 class="text-center">{{ title }}</h1>
            </div>
        </div>

        <div class="row m-2 p-2 border rounded bg-white">

            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3><span class="small">Department:</span> {{ department.department }}</h3>
                    </div>
                </div>
                <form action=""
                      class="form form-inline"
                      enctype="multipart/form-data"
                      method="post"
                      name="create_ticket">
                    {{ form.hidden_tag() }}
                    {{ form.department_id() }}
                    <div class="row">
                        <label class="sr-only">{{ form.category.label }}</label>
                        <div class="col">
                            {{ form.category(class="form-control form-control-sm", placeholder="category") }}
                        </div>
                        <div class="col">{{ form.submit() }}
                        </div>
                    </div>
                    {% if form.category.errors %}
                        <div class="row">
                            <div class="alert alert-warning small">
                                {% for error in form.category.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="row m-2 p-2 border rounded bg-white">
            <div class="col">
                <div class="row">
                    <div class="col"><h3>{{ _('Existing Categories') }}</h3></div>
                </div>
                {% for c in categories %}
                    <div class="row">
                        <div class="col">
                            {{ c.category }}&nbsp;
                            <a href="{{ url_for('flicket_bp.category_edit', category_id=c.id) }}" title="edit">
                                <i class="fas fa-edit"></i>
                            </a>

                            <a href="{{ url_for('flicket_bp.delete_category', category_id=c.id) }}" title="delete">
                                <i class="fas fa-trash" style="color: red"></i>
                            </a>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}