<script type="text/javascript">
    $(function () {
            $.getJSON('/flicket-api/statuses/', function (jsonStatus) {
                // empty the select options
                $('#status').empty();
                // create default select option.
                $('#status').append($('<option></option>').text('status').val(0));

                $('#status').attr('enabled', 'true');
                $.each(jsonStatus, function () {
                    $('#status').append(
                        $('<option></option>').text(this.status).val(this.id)
                    );
                });
            })
        })
</script>