<script type="text/javascript">
    $(function () {
        $('#department').change(function () {
            var id = $(this).val();
            if (id != 0) {
                $.ajax({
                    url: '/flicket-api/categories/?department_id=' + id,
                    datatype: 'json',
                    headers: {
                        'Authorization' : 'Bearer {{ g.user.token }}'
                    },
                    success: function (data) {

                        // use uri.js to pass the page uri
                        // didn't use parseQuery because I got unexpected behaviour. it wouldn't filter keyword category properly
                        // I should probably backport this to other restjson html files.
                        var result = URI.parse(document.URL);
                        // get value of category in uri
                        result = result.query;
                        result = URI.parseQuery(result).category;

                        var category = document.getElementById('category');
                        $(category).empty();
                        $(category).append($('<option></option>').text('--categories--').val('0'));
                        for (var i = 0; i < data._meta.total_items; i++) {
                            var cat_id = data.items[i].id;
                            var cat_name = data.items[i].category;
                            $(category).append($('<option></option>').text(cat_name).val(cat_id));
                        }

                        // set the preselected value
                        if (result) {
                            // find id of category
                            for (var item in data.items) {
                                var c = data.items[item].category;
                                if (c === result) {
                                    var category_id = data.items[item].id
                                }
                            }
                            $(category).val(category_id)
                        }
                    }
                });
            } else {
                var category = document.getElementById('category');
                $(category).empty();
                $(category).append($('<option></option>').text('--categories--').val('0'));
            }

        }).change();
    })
</script>