<script type="text/javascript">
// todo: remove this if no longer needed
//    $(document).ready(function () {
//        $.getJSON('/flicket-api/department/', function (jsonResult) {
//            $("#department").attr('enabled', 'true');
//            $.each(jsonResult, function () {
//                $('#department').append(
//                    $('<option></option>').text(this.department).val(this.id)
//                );
//            });
//        });
//    });
    $(function () {
        $('#department').change(function () {
            var optionSelected = $(this).val();
            $.getJSON('/flicket-api/category/'+optionSelected+'/', function (jsonCategory) {
                // empty the select options
                $('#category').empty();
                // create default select option.
                $('#category').append($('<option></option>').text('category').val(0));

                $('#category').attr('enabled', 'true');
                $.each(jsonCategory, function () {
                    $('#category').append(
                        $('<option></option>').text(this.category).val(this.id)
                    );
                });
            })
        }).change();
    })

</script>