<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: '/flicket-api/statuses/',
            datatype: 'json',
            headers: {
                'Authorization': 'Bearer {{ g.user.token }}'
            },
            success: function (data) {
                // use uri.js to pass the page uri
                var result = URI.parseQuery(document.URL);
                // get value of status in uri
                result = result.status;

                // populate the status selection inputs
                var status = document.getElementById('status');
                $(status).empty();
                $(status).append($('<option></option>').text('--status--').val('0'));
                // Load the new options
                for (var i = 0; i < data._meta.total_items; i++) {
                    var status_id = data.items[i].id;
                    var status_name = data.items[i].status;
                    $(status).append($('<option></option>').text(status_name).val(status_id));
                }

                // set the preselected value
                if (result) {
                    // find id of status
                    for (var item in data.items) {
                        var s = data.items[item].status;
                        if (s === result) {
                            var status_id = data.items[item].id
                        }
                    }
                    $(status).val(status_id)
                }
            }
        });
    })
</script>
