<!-- ticket reply -->

{{ pagedown.html_head() }}

<form action=""
      class="form-horizontal"
      enctype="multipart/form-data"
      method="post"
      name="add_reply">
    {{ form.hidden_tag() }}

    <div class="row flicket-row flicket-row-reply">

        <div class="form-group">
            <a name="reply"><label class="col-sm-2 control-label">{{ form.content.label }}</label></a>
            <div class="col-sm-10">
                {{ form.content(class="form-control") }}
                <div class="row">
                    <div class="col-sm-6">
                        <a class="small" href="http://commonmark.org/help/">{{ _('MarkDown reference') }}</a>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-right" style="padding-top: 5pt">
                            <button type="button" class="btn btn btn-info btn-sm"
                                    onclick="hide_element()">{{ _('Show / Hide Markdown') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if form.content.errors %}
            <div class="alert alert-warning small">
                {% for error in form.content.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {% if form.uploads %}
            {{ form.uploads }}
        {% endif %}

        <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.file.label }}</label>
            <div class="col-sm-3">
                {{ form.file }}
            </div>
            <div class="col-sm-3">
                {{ form.status(class="form-control") }}
            </div>
            <div class="col-sm-4 text-right">
                {% if ticket %}
                    {% if g.user.is_admin or (ticket.user == g.user) or (ticket.assigned_id == g.user.id) %}
                        {% if ticket.current_status.status != 'Closed' %}
                            {{ form.submit_close }}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {{ form.submit }}
            </div>
        </div>

    </div>
</form>
<!-- ticket reply /end -->