{% extends "flicket_base.html" %}
<!-- extend from base layout -->
{% block content %}
    <!-- {{ self._TemplateReference__context.name }} -->
    <script src="{{ url_for('flicket_bp.static', filename='js/uri.js') }}"></script>

    {% include('flicket_apijson_users.html') %}
    {% include('flicket_apijson_categories.html') %}
    {% include('flicket_apijson_departments.html') %}
    {% include('flicket_apijson_statuses.html') %}


    <div class="container">

        <div class="row m-2 p-2 border rounded bg-white">
            <div class="col">
                <h1>{{ title }}</h1>
                <p>
                    {{ _('Download results as a csv file') }} <a
                        href="{{ url_for('flicket_bp.tickets_csv', status=status, department=departnent, category=category, content=content, user_id=user_id) }}"
                        title="csv file">
                    <i class="fas fa-file-csv"></i>
                </a>.
                </p>
            </div>
        </div>

        <!-- search bar -->
        <div class="row m-2 bg-white p-2 rounded border">
            <form action=""
                  class="form-inline col-12 p-0"
                  enctype="multipart/form-data"
                  method="post"
                  name="search_ticket">
                {{ form.hidden_tag() }}
                <div class="col-md col-6 text-center">
                    {{ form.department(class="form-control form-control-sm flicket-tickets-content p-0", id="department") }}
                </div>
                <div class="col-md col-6 text-center">
                    {{ form.category(class="form-control form-control-sm flicket-tickets-content p-0", id="category") }}
                </div>
                <div class="col-md col-6 text-center">
                    {{ form.status(class="form-control form-control-sm flicket-tickets-content p-0", id="status") }}
                </div>
                <div class="col-md col-6 text-center">
                    {{ form.username(class="form-control form-control-sm flicket-tickets-content", placeholder="username", id="autocomplete-username",
                        **{'data-toggle': "tool-tip",
                        'title':'Filter results by user. Results will include all tickets user has either submitted or replied to.'}) }}
                </div>
                <div class="col-md col-12 text-center">
                    {{ form.content(class="form-control form-control-sm flicket-tickets-content", placeholder="contents") }}
                </div>
                <div class="col-md col-6 text-center">
                    <input class="btn btn-primary btn-sm" type="submit" value={{ _('search') }}>
                </div>
                <div class="col-md col-6 text-center">
                    <button class="btn btn-link btn-sm border-primary">
                        <a href="{{ url_for('flicket_bp.tickets', sort='ticketid_desc') }}">reset</a>
                    </button>
                </div>
            </form>
        </div>

        <!-- sort bar -->
        <div class="row m-2 bg-white border rounded p-2 flicket-tickets-content text-nowrap">
            <div class="col-md col-4">
                {{ _('Ticket ID') }}&nbsp;
                <a {% if sort == 'ticketid' -%}
                    href="{{ url_for(base_url, sort='ticketid_desc', **request.args) }}"
                {% else -%}
                    href="{{ url_for(base_url, sort='ticketid', **request.args) }}"
                {% endif %}>
                    {%- if sort == 'ticketid' -%}
                        <i class="fas fa-sort-numeric-up"></i>
                    {%- elif sort == 'ticketid_desc' -%}
                        <i class="fas fa-sort-numeric-down"></i>
                    {%- else -%}
                        <i class="fas fa-long-arrow-alt-down"></i>
                    {%- endif -%}
                </a>
            </div>
            <div class="col-md col-4">
                {{ _('Priority') }}&nbsp;
                <a {% if sort == 'priority_desc' -%}
                    href="{{ url_for(base_url, sort='priority', **request.args) }}"
                {% else -%}
                    href="{{ url_for(base_url, sort='priority_desc', **request.args) }}"
                {% endif %}>
                    {%- if sort == 'priority' -%}
                        <i class="fas fa-sort-alpha-up"></i>
                    {%- elif sort == 'priority_desc' -%}
                        <i class="fas fa-sort-alpha-down"></i>
                    {%- else -%}
                        <i class="fas fa-long-arrow-alt-down"></i>
                    {%- endif -%}
                </a>
            </div>
            <div class="col-md col-4">
                {{ _('Title') }}&nbsp;
                <a {% if sort == 'title' -%}
                    href="{{ url_for(base_url, sort='title_desc', **request.args) }}"
                {% else -%}
                    href="{{ url_for(base_url, sort='title', **request.args) }}"
                {% endif %}>
                    {%- if sort == 'title' -%}
                        <i class="fas fa-sort-alpha-up"></i>
                    {%- elif sort == 'title_desc' -%}
                        <i class="fas fa-sort-alpha-down"></i>
                    {%- else -%}
                        <i class="fas fa-long-arrow-alt-down"></i>
                    {%- endif -%}
                </a>
            </div>
            <div class="col-md col-4">
                {{ _('Submitted By') }}&nbsp;
                <a {% if sort == 'addedby' -%}
                    href="{{ url_for(base_url, sort='addedby_desc', **request.args) }}"
                {% else -%}
                    href="{{ url_for(base_url, sort='addedby', **request.args) }}"
                {% endif %}>
                    {%- if sort == 'addedby' -%}
                        <i class="fas fa-sort-alpha-up"></i>
                    {%- elif sort == 'addedby_desc' -%}
                        <i class="fas fa-sort-alpha-down"></i>
                    {%- else -%}
                        <i class="fas fa-long-arrow-alt-down"></i>
                    {%- endif -%}
                </a>
            </div>
            <div class="col-md col-4">
                {{ _('Date') }}&nbsp;
                <a {% if sort == 'addedon' -%}
                    href="{{ url_for(base_url, sort='addedon_desc', **request.args) }}"
                {% else -%}
                    href="{{ url_for(base_url, sort='addedon', **request.args) }}"
                {% endif %}>
                    {%- if sort == 'addedon' -%}
                        <i class="fas fa-sort-numeric-up"></i>
                    {%- elif sort == 'addedon_desc' -%}
                        <i class="fas fa-sort-numeric-down"></i>
                    {%- else -%}
                        <i class="fas fa-long-arrow-alt-down"></i>
                    {%- endif %}
                </a>
            </div>

            <div class="col-md col-4">
                {{ _('Category') }}&nbsp;
                <a {% if sort == 'queue' -%}
                    href="{{ url_for(base_url, sort='queue_desc', **request.args) }}"
                {%- else -%}
                    href="{{ url_for(base_url, sort='queue', **request.args) }}"
                {%- endif %}>
                    {%- if sort == 'queue' -%}
                        <i class="fas fa-sort-alpha-up"></i>
                    {%- elif sort == 'queue_desc' -%}
                        <i class="fas fa-sort-alpha-down"></i>
                    {%- else -%}
                        <i class="fas fa-long-arrow-alt-down"></i>
                    {%- endif -%}
                </a>
            </div>
            <div class="col-md col-4">
                {{ _('Status') }}&nbsp;
                <a {% if sort == 'status' -%}
                    href="{{ url_for(base_url, sort='status_desc', **request.args) }}"
                {%- else -%}
                    href="{{ url_for(base_url, sort='status', **request.args) }}"
                {%- endif %}>
                    {%- if sort == 'status' -%}
                        <i class="fas fa-sort-alpha-up"></i>
                    {%- elif sort == 'status_desc' -%}
                        <i class="fas fa-sort-alpha-down"></i>
                    {%- else -%}
                        <i class="fas fa-long-arrow-alt-down"></i>
                    {%- endif -%}
                </a>
            </div>
            <div class="col-md col-4">
                {{ _('Replies') }}&nbsp;
                <a {% if sort == 'replies' -%}
                    href="{{ url_for(base_url, sort='replies_desc', **request.args) }}"
                {%- else -%}
                    href="{{ url_for(base_url, sort='replies', **request.args) }}"
                {%- endif %}>
                    {%- if sort == 'replies' -%}
                        <i class="fas fa-sort-numeric-up"></i>
                    {%- elif sort == 'replies_desc' -%}
                        <i class="fas fa-sort-numeric-down"></i>
                    {%- else -%}
                        <i class="fas fa-long-arrow-alt-down"></i>
                    {%- endif -%}
                </a>
            </div>
            <div class="col-md col-4">
                {{ _('Assigned') }}&nbsp;
                <a {% if sort == 'assigned' -%}
                    href="{{ url_for(base_url, sort='assigned_desc', **request.args) }}"
                {%- else -%}
                    href="{{ url_for(base_url, sort='assigned', **request.args) }}"
                {%- endif %}>
                    {%- if sort == 'assigned' -%}
                        <i class="fas fa-sort-alpha-up"></i>
                    {%- elif sort == 'assigned_desc' -%}
                        <i class="fas fa-sort-alpha-down"></i>
                    {%- else -%}
                        <i class="fas fa-long-arrow-alt-down"></i>
                    {%- endif -%}
                </a>
            </div>

        </div>

        <!-- pagination -->
        <div class="row">
            <div class="col m-2">
                {% include('flicket_tickets_pag.html') %}
            </div>
        </div>

        <!-- search results -->
        <div class="row">
            <div class="col">
                {% for t in tickets.items %}
                    <div class="border rounded p-1 m-2 mb-3 bg-white">

                        <div class="row m-1 pb-2 border-bottom {%- if t.current_status.status == 'Closed' %}
                                        flicket-status-closed{% endif %}">
                            <div class="col-md-1 col-6 order-1">
                                <a href="{{ url_for('flicket_bp.ticket_view', ticket_id = t.id) }}"
                                   title="ticket number">{{ t.id_zfill }}</a>
                            </div>
                            <div class="col-md-9 col-12 order-md-2 order-3" title="title">
                                {{ t.title }}
                            </div>
                            <div class="col-md-2 col-6 order-2 flicket-tickets-content">
                                Replies: {{ t.num_replies }}
                            </div>
                        </div>

                        <div class="row m-1 {%- if t.current_status.status == 'Closed' %}
                                        flicket-status-closed{% endif %}">
                            <div class="col-md-1 col-6">
                                <div class="flicket-tickets-title">
                                    priority
                                </div>
                                <div class="flicket-tickets-content  {%- if t.current_status.status == 'Closed' %}
                                        flicket-status-closed{% endif %}
                                            {%- if t.ticket_priority.priority == 'high' %}
                                        flicket-status-high
                                            {% elif t.ticket_priority.priority == 'medium' %}
                                        flicket-status-medium
                                            {% elif t.ticket_priority.priority == 'low' %}
                                        flicket-status-low
                                            {% endif %}">
                                    {{ t.ticket_priority.priority }}
                                </div>
                            </div>
                            <div class="col-md-2 col-6">
                                <div class="flicket-tickets-title">
                                    submitted by
                                </div>
                                <div class="flicket-tickets-content">
                                    {{ t.user.name }}
                                </div>
                            </div>
                            <div class="col-md-2 col-6">
                                <div class="flicket-tickets-title">
                                    date
                                </div>
                                <div class="flicket-tickets-content">
                                    {{ t.date_added.strftime('%Y-%m-%d') }}
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="flicket-tickets-title">
                                    department / category
                                </div>
                                <div class="flicket-tickets-content">
                                    {{ t.category.department.department }} / {{ t.category.category }}
                                </div>
                            </div>
                            <div class="col-md-2 col-6">
                                <div class="flicket-tickets-title">
                                    status
                                </div>
                                <div class="flicket-tickets-content">
                                    {{ t.current_status.status }}
                                </div>
                            </div>
                            <div class="col-md-2 col-6">
                                <div class="flicket-tickets-title">
                                    assigned
                                </div>
                                <div class="flicket-tickets-content">
                                    {{ t.assigned.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- pagination -->
        <div class="row">
            <div class="col m-2">
                {% include('flicket_tickets_pag.html') %}
            </div>
        </div>

    </div>
{% endblock %}
