    <script>
         $(function() {
            $( "#autocomplete-email" ).autocomplete({
               source: function( request, response ) {
                   $.ajax( {
                       url: "/flicket-api/users/",
                       datatype: "jsonp",
                       data: {
                           filter: request.term
                       },
                       success: function( data ) {
                           data = $.parseJSON(data);
                           response ($.map(data, function(item) {
                               return {
                                   label: item.name,
                                   value: item.email_,
                               }
                           }) );
                       }
                   })
               },
                minLength: 3
            });
         });
      </script>