{% extends "flicket_base.html" %}
<!-- extend from base layout -->
{% block content %}
    <script src="{{ url_for('flicket_bp.static', filename='js/uri.js') }}"></script>

    {% include('flicket_apijson_users.html') %}
    {% include('flicket_apijson_categories.html') %}
    {% include('flicket_apijson_departments.html') %}
    {% include('flicket_apijson_statuses.html') %}


    <div class="container-fluid">


        <div style="display: inline-block">
            <h1>{{ title }}</h1>
            <p>
                <img src="{{ url_for('flicket_bp.static', filename='icons/icon_excel_small.png') }}"
                     height="25" width="25">
                Download results as a <a
                    href="{{ url_for('flicket_bp.tickets_csv', status=status, department=departnent, category=category, content=content, user_id=user_id) }}">csv
                file</a>.
            </p>
        </div>

        <nav aria-label="search form">
            <form action=""
                  class="form-horizontal flicket-form"
                  enctype="multipart/form-data"
                  method="post"
                  name="search_ticket">
                {{ form.hidden_tag() }}

                <table class="table">
                    <tr>
                        <td>
                            {{ form.department(class="form-control", id="department") }}
                        </td>
                        <td>
                            {{ form.category(class="form-control", id="category") }}
                        </td>
                        <td>
                            {{ form.status(class="form-control", id="status") }}
                        </td>
                        <td>
                            {{ form.username(class="form-control", placeholder="username", id="autocomplete-username",
                        **{'data-toggle': "tool-tip",
                        'title':'Filter results by user. Results will include all tickets user has either submitted or replied to.'}) }}
                        </td>
                        <td>
                            {{ form.content(class="form-control", placeholder="contents") }}
                        </td>
                        <td>
                            <input class="btn btn-primary" type="submit" value={{ _('search') }}>
                        </td>
                    </tr>

                </table>

            </form>

        </nav>

        <nav aria-label="search results">
            <table class="table table-responsive table-hover">
                <tr>
                    <th class="text-nowrap">
                        <a {% if sort == 'ticketid' -%}
                                href="{{ url_for(base_url, sort='ticketid_desc', **request.args) }}"{% else -%}
                                href="{{ url_for(base_url, sort='ticketid', **request.args) }}"{% endif %}>
                            {{ _('Ticket ID') }}
                            {%- if sort == 'ticketid' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            {%- endif -%}
                            {%- if sort == 'ticketid_desc' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            {%- endif %}
                        </a>
                    </th>
                    <th>
                        <a {% if sort == 'priority_desc' -%}
                                href="{{ url_for(base_url, sort='priority', **request.args) }}"{% else -%}
                                href="{{ url_for(base_url, sort='priority_desc', **request.args) }}"{% endif %}>
                            {{ _('Priority') }}
                            {%- if sort == 'priority' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            {%- endif -%}
                            {%- if sort == 'priority_desc' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            {%- endif %}
                        </a>
                    </th>
                    <th>
                        <a {% if sort == 'title' -%}
                                href="{{ url_for(base_url, sort='title_desc', **request.args) }}"{% else -%}
                                href="{{ url_for(base_url, sort='title', **request.args) }}"{% endif %}>
                            {{ _('Title') }}
                            {%- if sort == 'title' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            {%- endif -%}
                            {%- if sort == 'title_desc' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            {%- endif %}
                        </a>
                    </th>
                    <th nowrap="nowrap">
                        <a {% if sort == 'addedby' -%}
                                href="{{ url_for(base_url, sort='addedby_desc', **request.args) }}"{% else -%}
                                href="{{ url_for(base_url, sort='addedby', **request.args) }}"{% endif %}>
                            {{ _('Submitted By') }}
                            {%- if sort == 'addedby' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            {%- endif -%}
                            {%- if sort == 'addedby_desc' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            {%- endif %}
                        </a>
                    </th>
                    <th nowrap="nowrap">
                        <a {% if sort == 'addedon' -%}
                                href="{{ url_for(base_url, sort='addedon_desc', **request.args) }}"{% else -%}
                                href="{{ url_for(base_url, sort='addedon', **request.args) }}"{% endif %}>
                            {{ _('Date') }}
                            {%- if sort == 'addedon' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            {%- endif -%}
                            {%- if sort == 'addedon_desc' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            {%- endif %}
                        </a>
                    </th>
                    <th>
                        <a {% if sort == 'replies' -%}
                                href="{{ url_for(base_url, sort='replies_desc', **request.args) }}"{% else -%}
                                href="{{ url_for(base_url, sort='replies', **request.args) }}"{% endif %}>
                            {{ _('Replies') }}
                            {%- if sort == 'replies' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            {%- endif -%}
                            {%- if sort == 'replies_desc' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            {%- endif %}
                        </a>
                    </th>
                    <th>
                        <a {% if sort == 'queue' -%}
                                href="{{ url_for(base_url, sort='queue_desc', **request.args) }}"{% else -%}
                                href="{{ url_for(base_url, sort='queue', **request.args) }}"{% endif %}>
                            {{ _('Category') }}
                            {%- if sort == 'queue' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            {%- endif -%}
                            {%- if sort == 'queue_desc' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            {%- endif %}
                        </a>
                    </th>
                    <th>
                        <a {% if sort == 'status' -%}
                                href="{{ url_for(base_url, sort='status_desc', **request.args) }}"{% else -%}
                                href="{{ url_for(base_url, sort='status', **request.args) }}"{% endif %}>
                            {{ _('Status') }}
                            {%- if sort == 'status' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            {%- endif -%}
                            {%- if sort == 'status_desc' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            {%- endif %}
                        </a>
                    </th>
                    <th>
                        <a {% if sort == 'assigned' -%}
                                href="{{ url_for(base_url, sort='assigned_desc', **request.args) }}"{% else -%}
                                href="{{ url_for(base_url, sort='assigned', **request.args) }}"{% endif %}>
                            {{ _('Assigned') }}
                            {%- if sort == 'assigned' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            {%- endif -%}
                            {%- if sort == 'assigned_desc' -%}
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                            {%- endif %}
                        </a>
                    </th>
                </tr>
                {% for t in tickets.items %}
                    <tr {%- if t.current_status.status == 'Closed' %}
                        class="flicket-status-closed"{% endif %}
                            {%- if t.ticket_priority.priority == 'high' %}
                        class="flicket-status-high"
                            {% elif t.ticket_priority.priority == 'medium' %}
                        class="flicket-status-medium"
                            {% elif t.ticket_priority.priority == 'low' %}
                        class="flicket-status-low"
                            {% endif %}>
                        <td>
                            <a href="{{ url_for('flicket_bp.ticket_view', ticket_id = t.id) }}">{{ t.id_zfill }}</a>
                        </td>
                        <td>
                            {{ t.ticket_priority.priority }}
                        </td>
                        <td>
                            {{ t.title }}
                        </td>
                        <td>
                            {{ t.user.name }}
                        </td>
                        <td nowrap="nowrap">
                            {{ t.date_added.strftime('%Y-%m-%d') }}
                        </td>
                        <td>
                            {{ t.num_replies }}
                        </td>
                        <td>
                            {{ t.category.department.department }} - {{ t.category.category }}
                        </td>
                        <td>
                            {{ t.current_status.status }}
                        </td>
                        <td>
                            {{ t.assigned.name }}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </nav>

        <nav aria-label="page navigation">
            <ul class="pagination pagination-sm">{% for page in tickets.iter_pages() %}
                {% if page %}
                    {% if page != tickets.page %}
                        <li><a href="{{ url_for(base_url, page=page, **request.args) }}"> {{ page }}</a>
                        </li>
                    {% else %}
                        <li class="active"><a
                                href="{{ url_for(base_url, page=page, **request.args) }}"> {{ page }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li><a href="">...</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </nav>

    </div>
{% endblock %}
