<!DOCTYPE html>
<html lang="en-GB">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ g.application_title }}{% if title %} - {{ title }} {% endif %}</title>


    <link rel="stylesheet" href="{{ url_for('flicket_bp.static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('flicket_bp.static', filename='css/flicket.css') }}">
    <link rel="stylesheet" href="{{ url_for('flicket_bp.static', filename='css/jquery-ui.min.css') }}">

    <script src="{{ url_for('flicket_bp.static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('flicket_bp.static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('flicket_bp.static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('flicket_bp.static', filename='js/hide_element.js') }}"></script>
    <script src="{{ url_for('flicket_bp.static', filename='js/all.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('flicket_bp.static', filename='icons/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('flicket_bp.static', filename='icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('flicket_bp.static', filename='icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('flicket_bp.static', filename='icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('flicket_bp.static', filename='icons/site.webmanifest') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body>

{% include 'flicket_navbar.html' %}
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col pt-5" style="font-size: 2rem">
                {{ g.application_title }}
                <span style="font-size: 0.8rem; color: #d5d2cf">
                    {{ _('a simple ticket system') }}
                </span>
            </div>
        </div>
    </div>
</header>
{% include 'flicket_flashmessages.html' %}
{% block content %}{% endblock %}
{% include 'flicket_footer.html' %}

</body>
</html>
