<!-- extend from base layout -->
{% extends "flicket_base.html" %}
{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
        <h2>About</h2>
        <p>
            Flicket is a simple Flask driven ticket system.
        </p>
        <h2>FAQ</h2>
        <p>See <a href="{{ url_for('flicket_bp.faq') }}">FAQ</a> for frequently asked questions.</p>
        <h2>Tickets</h2>
        <p>Go to the <a href="{{ url_for('flicket_bp.tickets_main') }}"></a> for all raised tickets.</p>
        <h2>Stats</h2>
        <p>
            <mark>{{ total }}</mark>
            tickets have been raised.
        </p>
        <p>There are currently
            <mark>{{ in_work }}</mark>
            tickets in work.
        </p>
        <p>There are currently
            <mark>{{ _open }}</mark>
            tickets open.
        </p>
        <p>
            <mark>{{ total_days }}</mark>
            ticket{% if total_days > 1 %}s have{% else %} has{% endif %} been raised over the last {{ days }} days.
        </p>
    </div>
{% endblock %}