{% extends "flicket_base.html" %}
<!-- extend from base layout -->
{% block content %}
    <div class="container">

        <div class="row m-2 p-2 border rounded bg-white">
            <form class="form" action="" method="post" name="create_ticket">
                {{ form.hidden_tag() }}

                <div class="col">

                    <div class="row">
                        <div class="col">
                            <h1>{{ title }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2>{{ ticket.id_zfill }} - {{ ticket.title }}</h2>
                        </div>
                    </div>


                    <div class="row">
                        <label class="col-3 col-form-label">{{ _('Password') }}</label>
                        <div class="col-5">
                            {{ form.password(class="form-control form-control-sm") }}
                        </div>
                        <div class="col">
                            <input class="btn btn-danger btn-sm" type="submit" name="delete" value="delete ticket"/>
                        </div>
                    </div>

                    {% if form.password.errors %}
                        <div class="row m-2"></div>
                        <div class="alert alert-warning small">
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        </div>
                    {% endif %}

            </form>
        </div>

    </div>
{% endblock %}