{% extends "flicket_base.html" %}
<!-- extend from base layout -->
{% block content %}
    <div class="container">

        <div class="row m-2 p-2 border rounded bg-white">
            <div class="col"><h1>{{ title }}</h1></div>
        </div>


        <div class="row m-2 p-2 border rounded bg-white">
            <div class="col">

                <div class="row mb-1">
                    <div class="col">{{ _('Department') }}: {{ department }}</div>
                </div>
                <form action=""
                      class="form-horizontal"
                      enctype="multipart/form-data"
                      method="post"
                      name="create_ticket">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <label class="sr-only">{{ _('Category') }}</label>
                        <div class="col">
                            {{ form.category(class="form-control form-control-sm", title="category") }}
                        </div>
                        <div class="col">
                            <input class="btn btn-primary btn-sm" type="submit" value="edit category"/>
                        </div>
                    </div>


                    {% if form.category.errors %}
                        <div class="row">
                            <div class="alert alert-warning small">
                                {% for error in form.category.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </form>

            </div>

        </div>

    </div>
{% endblock %}