<p>
    Ticket contents supports markdown syntax. Please refer to <a href="http://commonmark.org/help/">md help</a>.
</p>
{{ pagedown.html_head() }}
<form action=""
      class="form-horizontal"
      enctype="multipart/form-data"
      method="post"
      name="create_ticket">
    {{ form.hidden_tag() }}


    <div class="form-group">
        <label class="col-sm-3 control-label">Ticket Title</label>
        <div class="col-sm-9">
            {{ form.title(class="form-control") }}
        </div>
    </div>
    {% if form.title.errors %}
        <div class="alert alert-warning small">
            {% for error in form.title.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-group">
        <label class="col-sm-3 control-label">Content</label>
        <div class="col-sm-9">
            {{ form.content(class="form-control") }}
        </div>
    </div>
    {% if form.content.errors %}
        <div class="alert alert-warning small">
            {% for error in form.content.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-group">
        <label class="col-sm-3 control-label">Priority Level</label>
        <div class="col-sm-3">
            {{ form.priority(class="form-control") }}
        </div>
        <label class="col-sm-3 control-label">Category</label>
        <div class="col-sm-3">
            {{ form.category(class="form-control") }}
        </div>
    </div>

    {% if form.priority.errors %}
        <div class="alert alert-warning small">
            {% for error in form.priority.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}


    {% if form.category.errors %}
        <div class="alert alert-warning small">
            {% for error in form.category.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    {% if form.uploads %}
        {{ form.uploads }}
    {% endif %}


    <div class="form-group">
        <label class="col-sm-3 control-label">{{ form.file.label }}</label>
        <div class="col-sm-3">
            {{ form.file }}
        </div>
        <div class="col-sm-6 text-right">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>

</form>
