{% extends "flicket_base.html" %}
<!-- extend from base layout -->
{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
        <p>If you require new departments and / or categories added / deleted, please raise a ticket.</p>

        <form action=""
              class="form-horizontal"
              enctype="multipart/form-data"
              method="post"
              name="create_ticket">
            {{ form.hidden_tag() }}


            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form.department.label }}</label>
                <div class="col-sm-3">
                    {{ form.department(class="form-control") }}
                </div>
                <div class="col-sm-2">
                    {{ form.submit }}
                </div>
            </div>
            {% if form.department.errors %}
                <div class="alert alert-warning small">
                    {% for error in form.department.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

        </form>


        <ul class="pagination pagination-sm">{% for page in departments.iter_pages() %}
            {% if page %}
                {% if page != departments.page %}
                    <li><a href="{{ url_for('flicket_bp.departments', page=page, **request.args) }}"> {{ page }}</a></li>
                {% else %}
                    <li class="active"><a
                            href="{{ url_for('flicket_bp.departments', page=page, **request.args) }}"> {{ page }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li><a href="">...</a></li>
            {% endif %}
        {% endfor %}
        </ul>

        <table class="table table-bordered">
            <tr>
                <th>
                    Department
                </th>
                <th>
                    Categories
                </th>
            </tr>
            {% for d in departments.items %}
                <tr>
                    <td>
                        {{ d.department }}
                        {% if g.user.is_admin %}
                        <span class="small">
                            <a href="{{ url_for('flicket_bp.department_edit', department_id=d.id) }}" title="edit"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                        </span>
                        <span class="small">
                            <a href="{{ url_for('flicket_bp.delete_department', department_id=d.id) }}" title="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        {% for c in d.categories %}{{ c.category }}
                            {%- if g.user.is_admin -%}
                            <span class="small">
                                <a href="{{ url_for('flicket_bp.category_edit', category_id=c.id) }}" title="edit"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            </span>
                            <span class="small">
                                <a href="{{ url_for('flicket_bp.delete_category', category_id=c.id) }}" title="delete">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </span>
                            {%- endif -%},
                        {% endfor %}
                        {% if g.user.is_admin %}<small class="small"><a href="{{ url_for('flicket_bp.categories', department_id=d.id) }}">add categories</a></small>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}