<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: '/flicket-api/departments/',
            datatype: 'json',
            headers: {
                'Authorization': 'Bearer {{ g.user.token }}'
            },
            success: function (data) {

                // use uri.js to pass the page uri
                var result = URI.parse(document.URL);
                // get value of department in uri
                result = result.query;
                result = URI.parseQuery(result).department;

                // populate the department selection inputs
                var department = document.getElementById('department');
                $(department).empty();
                $(department).append($('<option></option>').text('--departments--').val('0'));
                for (var i = 0; i < data._meta.total_items; i++) {
                    var dep_id = data.items[i].id;
                    var dep_name = data.items[i].department;
                    $(department).append($('<option></option>').text(dep_name).val(dep_id));
                }

                // set the preselected value
                if (result) {
                    // find id of department
                    for (var item in data.items) {
                        var d = data.items[item].department;
                        if (d === result) {
                            var department_id = data.items[item].id
                        }
                    }
                    $(department).val(department_id)
                }

            }
        });
    })
</script>