<!-- extend from base layout -->
{% extends "flicket_base.html" %}


{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
        <h3><label class="small">Department</label> {{ department.department }}</h3>

        <form action=""
              class="form-horizontal"
              enctype="multipart/form-data"
              method="post"
              name="create_ticket">
            {{ form.hidden_tag() }}
            {{ form.department_id() }}


            <div class="form-group">
                <label class="col-sm-2 control-label">Category</label>
                <div class="col-sm-3">
                    {{ form.category(class="form-control") }}
                </div>
                <div class="col-sm-2">
                    <input class="btn btn-primary" type="submit" value="add category"/>
                </div>
            </div>
            {% if form.category.errors %}
                <div class="alert alert-warning small">
                    {% for error in form.category.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

        </form>

        <h2>Existing Categories</h2>

        <table class="table table-bordered">
            <tr>
                <th>
                    Category
                </th>
            </tr>
            {% for c in categories %}
                <tr>
                    <td>
                        {{ c.category }}&nbsp;&nbsp;<span class="small"><a href="{{ url_for('flicket_bp.category_edit', category_id=c.id) }}">edit</a></span>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}