<script type="text/javascript">
    $(function () {
        $('#autocomplete-email').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/flicket-rest-api/users',
                    datatype: 'jsonp',
                    headers: {
                        'Content-Type': 'application/vnd.api+json',
                        'Accept': 'application/vnd.api+json'
                    },
                    data: {
                        filter: '[{"name":"name","op":"ilike","val":"%' + request.term + '%"}]'
                    },
                    success: function (data) {
                        response($.map(data.data, function (item) {
                            return {
                                label: item.attributes.name,
                                value: item.attributes.email
                            }
                        }));
                    }
                })
            },
            minLength: 3
        });
    });
</script>