{% extends 'flicket_base.html' %}
<!-- extend from base layout -->
{% block content %}
    <!-- {{ self._TemplateReference__context.name }} -->
    <div class="container">

        <div class="row m-2 p-2 border rounded bg-white">
            <div class="col">
                <h1 class="offset-3">{{ title }}</h1>
                <dl class="row">
                    <dt class="col-3 text-right">{{ user.name }}</dt>
                    <dd class="col-9">{% if user.avatar %}
                        <img alt="avatar"
                             src="{{ url_for('flicket_bp.static', filename='flicket_avatars/') }}{{ user.avatar }}"
                             style="width: 100pt">
                    {% else %}
                        <i class="fas fa-user"></i>
                    {% endif %}
                    </dd>

                    <dt class="col-3 text-right">{{ _('Username') }}</dt>
                    <dd class="col-9">{{ user.username }}</dd>

                    <dt class="col-3 text-right">{{ _('Email') }}</dt>
                    <dd class="col-9"><a href="mailto:{{ user.email }}">{{ user.email }}</a></dd>

                    <dt class="col-3 text-right">{{ _('Date Joined') }}</dt>
                    <dd class="col-9">{{ user.date_added }}</dd>

                    <dt class="col-3 text-right">{{ _('Job Title') }}</dt>
                    <dd class="col-9">{{ user.job_title }}</dd>

                    <dt class="col-3 text-right">{{ _('Number Of Posts') }}</dt>
                    <dd class="col-9">{{ user.total_posts }}</dd>

                    <dt class="col-3 text-right">{{ _('Number Assigned') }}</dt>
                    <dd class="col-9">{{ user.total_assigned }}</dd>

                </dl>
            </div>
        </div>

    </div>
{% endblock %}