<!-- extend from base layout -->
{% extends "flicket_base.html" %}


{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>

        <form action=""
              class="form-horizontal"
              enctype="multipart/form-data"
              method="post"
              name="create_ticket">
            {{ form.hidden_tag() }}


            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-5">
                    {{ form.name(class="form-control") }}
                </div>
                <div class="col-sm-2">
                    <input class="btn btn-primary" type="submit" value="search"/>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-default" href="{{ url_for('flicket_bp.flicket_users') }}">reset</a>
                </div>
            </div>
            {% if form.name.errors %}
                <div class="alert alert-warning small">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

        </form>


        <ul class="pagination pagination-sm">{% for page in users.iter_pages() %}
            {% if page %}
                {% if page != users.page %}
                    <li><a href="{{ url_for('flicket_bp.flicket_users', page=page, **request.args) }}"> {{ page }}</a></li>
                {% else %}
                    <li class="active"><a
                            href="{{ url_for('flicket_bp.flicket_users', page=page, **request.args) }}"> {{ page }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li><a href="">...</a></li>
            {% endif %}
        {% endfor %}
        </ul>

        <table class="table table-bordered">
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Name
                </th>
                <th>
                    email
                </th>
                <th>
                    posts
                </th>
                <th>
                    Assigned
                </th>
            </tr>
            {% for u in users.items %}
                <tr>
                    <td>
                        {{ u.username }}
                    </td>
                    <td>
                        {{ u.name }}
                    </td>
                    <td>
                        {{ u.email }}
                    </td>
                <td>
                    {{ details(u).num_posts }}
                </td>
                    <td>
                    {{ details(u).num_assigned }}
                </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}