<!-- extend from base layout -->
{% extends 'flicket_base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>

        {% include 'flicket_apijson_users.html' %}

        <form action=""
              class="form-horizontal"
              enctype="multipart/form-data"
              method="post"
              name="create_ticket">
            {{ form.hidden_tag() }}


            <div class="form-group">
                <label class="col-sm-2 control-label" for="autocomplete-username">Name</label>
                <div class="col-sm-5">
                    {{ form.name(class="form-control", id="autocomplete-username") }}
                </div>
                <div class="col-sm-2">
                    {{ form.submit }}
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-default" href="{{ url_for('flicket_bp.flicket_users') }}">reset</a>
                </div>
            </div>
            {% if form.name.errors %}
                <div class="alert alert-warning small">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

        </form>


        <ul class="pagination pagination-sm">{% for page in users.iter_pages() %}
            {% if page %}
                {% if page != users.page %}
                    <li><a href="{{ url_for('flicket_bp.flicket_users', page=page, **request.args) }}"> {{ page }}</a>
                    </li>
                {% else %}
                    <li class="active"><a
                            href="{{ url_for('flicket_bp.flicket_users', page=page, **request.args) }}"> {{ page }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li><a href="">...</a></li>
            {% endif %}
        {% endfor %}
        </ul>

        <table class="table table-striped">
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Job Title
                </th>
                <th class="text-center">
                    Posts
                </th>
                <th class="text-center">
                    Assigned
                </th>
            </tr>
            {% for u in users.items %}
                <tr>
                    <td>

                        <a href="{{ url_for('flicket_bp.flicket_user', user_id=u.id) }}">
                        {%- if u.is_admin -%}
                        <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:red"></span>
                        {%- endif %}
                        {{ u.username }}</a>
                    </td>
                    <td>
                        {{ u.name }}
                    </td>
                    <td>
                        {{ u.email }}
                    </td>
                    <td>
                        {{ u.job_title }}
                    </td>
                    <td class="text-center">
                        {{ u.total_posts }}
                    </td>
                    <td class="text-center">
                        {{ details(u).num_assigned }}
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}