<!-- extend from base layout -->
{% extends "_base.html" %}


{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>

        <form action=""
              class="form-horizontal"
              enctype="multipart/form-data"
              method="post"
              name="create_ticket">
            {{ form.hidden_tag() }}


            <div class="form-group">
                <label class="col-sm-2 control-label">Department</label>
                <div class="col-sm-3">
                    {{ form.department(class="form-control") }}
                </div>
                <div class="col-sm-2">
                    <input class="btn btn-primary" type="submit" value="edit department"/>
                </div>
            </div>
            {% if form.department.errors %}
                <div class="alert alert-warning small">
                    {% for error in form.department.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

        </form>

    </div>
{% endblock %}