<!-- extend from base layout -->
{% extends "_base.html" %}


{% block content %}

    {% include('flicket/flicket_json_users.html') %}

    <script>
        $(document).ready(function () {
            $("#qf-toggle").click(function () {
                $("#toggle-qf").toggle(500);
            });

            $("#sf-toggle").click(function () {
                $("#toggle-sf").toggle(500);
            });

        });
    </script>

    <div class="container">
        <h1>{{ title }}</h1>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h2>Quick Filters <span class="btn btn-default" style="font-size: 8pt"
                                        id="qf-toggle">toggle filters</span></h2>
            </div>
        </div>
        <div id="toggle-qf">
            <div class="row">
                <div class="col-sm-4">
                    <h3>My Tickets</h3>
                    <div class="btn-group-sm">
                        <a class="btn btn-default flicket-btn"
                           href="{{ url_for('tickets_main', page=page, user_id=g.user.id) }}">my tickets</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>Status</h3>
                    <div class="btn-group-sm">
                        {% for ts in ticket_status %}
                            <a class="btn {% if ts.status == request.args.get('status') %} btn-info {% else %} btn-default {% endif %} flicket-btn"
                               href="{{ url_for('tickets_main', page=page, status=ts.status, department=department, category=category, content=content) }}">{{ ts.status }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>Department</h3>
                    <div class="btn-group-sm">
                        {% for dt in ticket_department %}
                            <a class="btn {% if dt.department == request.args.get('department') %} btn-info {% else %} btn-default {% endif %} flicket-btn"
                               href="{{ url_for('tickets_main', page=page, department=dt.department, category=category, status=status, content=content) }}">{{ dt.department }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10">
                    <h3>Category</h3>
                    <div class="btn-group-sm">
                        {% for ct in ticket_category %}
                            <a class="btn  {% if ct.category == request.args.get('category') %} btn-info {% else %} btn-default {% endif %} flicket-btn"
                               href="{{ url_for('tickets_main', page=page, department=ct.department.department, category=ct.category, status=status, content=content) }}">{{ ct.department.department }}
                                - {{ ct.category }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <h2>Search Form <span class="btn btn-default" style="font-size: 8pt"
                             id="sf-toggle">toggle form</span></h2>
        <div id="toggle-sf">
            <!-- Flicket search form -->
            <form action=""
                  class="form-horizontal flicket-form"
                  enctype="multipart/form-data"
                  method="post"
                  name="search_ticket">
                {{ form.hidden_tag() }}


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="autocomplete-1">Email</label>
                    <div class="col-sm-3">
                        {{ form.email(class="form-control", id="autocomplete-1") }}
                    </div>
                    <label class="col-sm-2 control-label">Search Tickets</label>
                    <div class="col-sm-5">
                        {{ form.content(class="form-control") }}
                    </div>
                </div>
                {% if form.email.errors %}
                    <div class="alert alert-warning small">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if form.content.errors %}
                    <div class="alert alert-warning small">
                        {% for error in form.content.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-sm-6 text-right">
                        <input class="btn btn-primary" type="submit" value="search"/>
                    </div>
                </div>
            </form>
            <!-- / flicket search form -->
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 text-right">
                <a class="btn btn-primary" href="{{ url_for('ticket_create') }}">create ticket</a>
            </div>

        </div>

        <ul class="pagination pagination-sm">{% for page in tickets.iter_pages() %}
            {% if page %}
                {% if page != tickets.page %}
                    <li><a href="{{ url_for('tickets_main', page=page, **request.args) }}"> {{ page }}</a></li>
                {% else %}
                    <li class="active"><a
                            href="{{ url_for('tickets_main', page=page, **request.args) }}"> {{ page }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li><a href="">...</a></li>
            {% endif %}
        {% endfor %}
        </ul>

        <p>Script took {{ duration }} seconds to run.</p>


        <table class="table table-bordered">
            <tr>
                <th>
                    Ticket ID
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Title
                </th>
                <th>
                    Submitted By
                </th>
                <th>
                    Date
                </th>
                <th>
                    Replies
                </th>
                <th>
                    Category
                </th>
                <th>
                    Status
                </th>
                <td>
                    Assigned
                </td>
            </tr>
            {% for t in tickets.items %}
                <tr {%- if t.current_status.status == 'Closed' %} class="success"{% endif %}>
                    <td>
                        <a href="{{ url_for('ticket_view', ticket_id = t.id) }}">{{ t.id_zfill }}</a>
                    </td>
                    <td>
                        {{ t.ticket_priority.priority }}
                    </td>
                    <td>
                        {{ t.title }}
                    </td>
                    <td>
                        {{ t.user.name }}
                    </td>
                    <td>
                        {{ t.date_added.strftime('%Y-%m-%d') }}
                    </td>
                    <td>
                        {{ t.replies }}
                    </td>
                    <td>
                        {{ t.category.department.department }} - {{ t.category.category }}
                    </td>
                    <td>
                        {{ t.current_status.status }}
                    </td>
                    <td>
                        {{ t.assigned.name }}
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}