<!-- extend from base layout -->
{% extends "_base.html" %}

{% block content %}

{% include('flicket/flicket_json_users.html') %}

    <div class="container">
        <h1>{{ title }}</h1>
        <h2 class="flicket-title">#{{ ticket.id_zfill }} - {{ ticket.title }}</h2>
        <p>
            Type name and pick from drop down list to. For a complete list of <a href="{{ url_for('flicket_users') }}" target="_blank">users</a>.
        </p>
        <form action=""
              class="form-horizontal"
              enctype="multipart/form-data"
              method="post"
              name="create_ticket">
            {{ form.hidden_tag() }}


            <div class="form-group">
                <label class="col-sm-2 control-label" for="autocomplete-1">Email</label>
                <div class="col-sm-3">
                    {{ form.email(class="form-control", id="autocomplete-1") }}
                </div>
            </div>
            {% if form.email.errors %}
                <div class="alert alert-warning small">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <div class="col-sm-6 text-center">
                    <input class="btn btn-primary" type="submit" value="assign ticket"/>
                </div>
            </div>

        </form>



    </div>
{% endblock %}