# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/

__archive__
screenshots*
config.json
users.json
migrations
migrations_laptop
migrations_desktop
test.db
test.py

env*/
.directory
.cache/v/cache/lastfailed

*sublime*
