alembic==0.8.9
bcrypt==3.1.2
blinker==1.4
cffi==1.9.1
click==6.7
Flask==0.12
Flask-Login==0.4.0
Flask-Misaka==0.4.1
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.4
Mako==1.0.6
MarkupSafe==0.23
misaka==2.0.0
pycparser==2.17
PyMySQL==0.7.9
python-editor==1.0.3
RandomWords==0.2.0
six==1.10.0
SQLAlchemy==1.1.4
Werkzeug==0.11.15
WTForms==2.1
