alembic==0.9.1
appdirs==1.4.2
bcrypt==3.1.3
blinker==1.4
cffi==1.9.1
click==6.7
Flask-Mail==0.9.1
Flask-WTF==0.14.2
itsdangerous==0.24
MarkupSafe==0.23
misaka==2.1.0
packaging==16.8
pycparser==2.17
pyparsing==2.1.10
python-editor==1.0.3
RandomWords==0.2.0
six==1.10.0
