/* offset body content for fixed navbar */
body {
  min-height: 2000px;
  padding-top: 70px;
}

footer {
    text-align: center;
    border-top: solid 1px #F0F0F0;
    margin-top: 20pt;
}

.white_space {
    white-space: pre-wrap;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.alert-message {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.table-width-400 {
    width: 400px;
}

.table-header-center {
    text-align: center;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}




.flicket-post-attachments {
    padding: 10px;
    border-top: solid #9acfea 1px;
}
