/* flicket specific css */
/* everything else should be inhetied from bootstrap */

/* offset body content for fixed navbar */

/* color pallete http://paletton.com/#uid=20c0u0kqruf27Fv8XMB-SnVlsbX */
/* color pallete http://paletton.com/#uid=20b0u0k2NvK02Yk0WJ55yre9mn7 */
.anchor, body {
    padding-top: 50px;
}

hr {
    border-top: 1px solid #F1592A;
}

blockquote {
    background-color: #faf7d7;
    font-size: inherit
}

.navbar-flicket {
    border-bottom: 1px solid #F1592A;
}

footer {
    text-align: center;
    border-top: solid 1px #F1592A;
    padding: 20px;
    margin-top: 20px;
}

header {
    background: rgba(241, 86, 39, 1);
    background: -moz-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241, 86, 39, 1)), color-stop(61%, rgba(237, 187, 173, 1)), color-stop(100%, rgba(237, 187, 173, 1)));
    background: -webkit-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    background: -o-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    background: -ms-linear-gradient(left, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    background: linear-gradient(to right, rgba(241, 86, 39, 1) 0%, rgba(237, 187, 173, 1) 61%, rgba(237, 187, 173, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f15627', endColorstr='#edbbad', GradientType=1);
    color: white;
    padding: 10pt;
}

/* force white background as some browsers themes bugger up the admin config forms */
input {
    background-color: white;
}

input[type="checkbox"] {
    background-color: white;
}

input[type="radio"] {
    background-color: white;
}

.white_space {
    white-space: pre-wrap;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.alert-message {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.table-width-400 {
    width: 400px;
}

.table-header-center {
    text-align: center;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.flask-pagedown-preview {
    margin-top: 10px;
    border: solid 1px silver;
    border-radius: 3px;
    background-color: #e8f5f3;
    padding: 10px;
    display: none;
}

.flicket-btn, .flicket-btn-subscribe, .flicket-btn-unsubscribe {
    margin-top: 5px;
}

.flicket-btn-delete {

}

.flicket-btn-subscribe {

}

.flicket-btn-unsubscribe {

}

.flicket-form {
    margin-top: 10px;
}

.flicket-form-control {
    margin: 0;
    padding: 2pt;
}

.flicket-main {
    border-radius: 3pt;
    border: 1px solid Silver;
    background-color: White;
}

.flicket-post-attachments {
    padding: 10px;
    border-top: solid #ff9c7c 1px;
}

.flicket-post-author {
    margin-bottom: 10px;
    border: solid 1px Silver;
    border-radius: 5px;

}

.flicket-post-author-author {
    font-weight: bold;
}

.flicket-post-author-jobtitle {
    color: #7a7a7a;
    text-align: center;
}

.flicket-post-author-author {
    text-align: center;
}

.flicket-post-attachments {
    padding: 10px 0px 10px 10px;
    border-top: solid Silver 1px;
}

.flicket-post-content {
    padding: 10px;
}

.flicket-post-header {
    padding: 10px;
    border-bottom: solid Silver 1px;
}

.flicket-post-modified {
    font-style: italic;
    background-color: #FAFAFA;
    margin-top: 10px;
    padding: 5px;
    white-space: normal;
}

.flicket-row {
    margin-top: 20px;
    padding: 5px;

}

.flicket-row-action {
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 20px;
    border: solid 1px silver;
    background-color: rgba(254, 203, 190, 0.3);
    border-radius: 3px;
}

.flicket-row-reply {
    border: solid 1px silver;
    border-radius: 3px;
}

.flicket-row-title-main {
    margin-top: 20px;
    padding: 5px;
    border: solid 1px #ddd;
    border-radius: 3px 3px 0px 0px;
}

.flicket-row-title-details {
    padding: 5px;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}

.flicket-row-title-sub {
    padding: 5px;
    border: solid 1px #ddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.flicket-ticket-cell {
    margin: 2px;
    padding: 5px 10px;
}

.flicket-ticket-cell-title {
    font-size: 1.5em;
    font-weight: bold;
}

.flicket-ticket-title-title {
    font-size: 2em;
    font-weight: bold;
    padding: 5px 10px;
}

.flicket-ticket-details-btn-ul {
    margin: 20px 0;
    font-size: 12px;
}

.flicket-ticket-details-btn-li {
    border: 1px solid #ddd;
    padding: 6px 12px;
    margin: 0 12px;
    display: block;
    text-decoration: None;
}

.flicket-ticket-details-btn-li:hover {
    background-color: #eee;
    text-decoration: None;
}

.flicket-status-high {
    background-color: #EEA28B
}

.flicket-status-medium {
    background-color: rgba(255, 181, 145, 0.58);
}

.flicket-status-low {
    background-color: #FFFFFF;
}

.flicket-status-closed {
    color: #aaaaaa;
}

td {
    position: relative;
}
