<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Administration</h1>
    {% include 'admin_menu.html' %}

       <form class="form-horizontal" action="" method="post" name="register">
        {{ form.hidden_tag() }}

        <div class="col-sm-4">
        </div>


        <div class="col-sm-4 text-center">
                <h2>{{ title }}</h2>
            <p>
                Please add new users details.
            </p>

            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Username</label>
                <div class="col-sm-9">
                    {{ form.username(class="form-control") }}
                </div>
            </div>
            {% if form.username.errors %}
            <div class="alert alert-warning small">
                {% for error in form.username.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    {{ form.name(class="form-control", placeholder="name") }}
                </div>
            </div>
            {% if form.name.errors %}
            <div class="alert alert-warning small">
                {% for error in form.name.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    {{ form.email(class="form-control", placeholder="email") }}
                </div>
            </div>
            {% if form.email.errors %}
            <div class="alert alert-warning small">
                {% for error in form.email.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    {{ form.password(class="form-control", placeholder="password") }}
                </div>
            </div>
            {% if form.password.errors %}
            <div class="alert alert-warning small">
                {% for error in form.password.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Confirm</label>
                <div class="col-sm-9">
                    {{ form.confirm(class="form-control", placeholder="repeat password") }}
                </div>
            </div>
            {% if form.confirm.errors %}
            <div class="alert alert-warning small">
                {% for error in form.confirm.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="text-center">
                &nbsp;<br>
                <input type="submit" value="add user" class="btn btn-primary"/>
            </div>
        </div>

        <div class="col-sm-4">
        </div>
    </form>
</div>
{% endblock %}