<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Administration</h1>
    {% include 'admin_menu.html' %}
    <h1>{{ title }}</h1>
    <form action="" method="post" name="delete_user">
        {{ form.hidden_tag() }}
        {{ form.id() }}
        <p>
            Are you sure you want to delete the following user? This may impact relational query look ups.
        </p>
        <p>Please enter your password to delete user. {{ form.password() }}
            {% if form.password.errors %}
            <span style="color: red;">
            {% for error in form.password.errors %}
            [{{ error }}]
            {% endfor %}
            </span>
            {% endif %}
        </p>
        <table>
            <tr>
                <th>Username</th>
                <td>{{ user_details.username}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user_details.name}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user_details.email}}</td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="delete user"/></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}