<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Administration</h1>
    {% include 'admin_menu.html' %}
    <h2>{{ title }}</h2>
    <form action="" method="post" name="edit_group">
        {{ form.hidden_tag() }}
        <p>
            Please add new users credentials.
        </p>
        <table>
            <tr>
                <th>Group Name</th>
                <td>{{ form.group_name(size=(24)) }}</td>
                <td>
                    {% if form.group_name.errors %}
                    <span style="color: red;">
                    {% for error in form.group_name.errors %}
                    [{{ error }}]
                    {% endfor %}
                    </span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-primary" type="submit" value="edit group"/></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}