<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Administration</h1>
    {% include 'admin_menu.html' %}
    <h2>{{ title }}</h2>
    <form action="" method="post" name="delete_group">
        {{ form.hidden_tag() }}
        {{ form.id() }}
        <p>
            Are you sure you want to delete the following group?
        </p>
        <p>Please enter your password to delete group. {{ form.password() }}
            {% if form.password.errors %}
            <span style="color: red;">
            {% for error in form.password.errors %}
            [{{ error }}]
            {% endfor %}
            </span>
            {% endif %}
        </p>
        <table class="table table-width-400">
            <tr>
                <th>Group Name</th>
                <td>{{ group_details.group_name}}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="delete group"/></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}