<nav class="navbar navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="{{url_for('admin_bp.index') }}">Admin Home</a></li>
            <li><a href="{{url_for('admin_bp.flicket_config') }}">Flicket Config</a></li>
            <li><a href="{{ url_for('admin_bp.admin_users') }}">Users</a></li>
            <li><a href="{{ url_for('admin_bp.add_user') }}">Add User</a></li>
            <li><a href="{{ url_for('admin_bp.admin_groups') }}">Groups</a></li>
        </ul>
    </div>
</nav>
