<nav class="navbar navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('admin_bp.index') }}">Admin Home</a></li>
            <li><a href="{{ url_for('admin_bp.config') }}">Flicket Config</a></li>
            <li><a href="{{ url_for('admin_bp.users') }}">Users</a></li>
            <li><a href="{{ url_for('admin_bp.add_user') }}">Add User</a></li>
            <li><a href="{{ url_for('admin_bp.groups') }}">Groups</a></li>
        </ul>
    </div>
</nav>
