<!-- extend from base layout -->
{% extends "flicket_base.html" %}
{% block content %}

<div class="container">
    <h1>{{ _('Administration') }}</h1>
    {% include 'admin_menu.html' %}
    <h2>{{ title }}</h2>

    <p>
        {{ _('Click on group name to edit.') }}
    </p>
    <table class="table table-striped table-width-400">
        <tr>
            <th>{{ _('Group Name') }}</th>
            <th>{{ _('Delete') }}</th>
        </tr>
        {% for g in groups %}
        <tr>
            <td>
                <a href="{{ url_for('admin_bp.admin_edit_group', id=g.id) }}">{{ g.group_name }}</a>
            </td>
            <td>
                <a href="{{ url_for('admin_bp.admin_delete_group', id=g.id) }}">{{ _('delete') }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr/>
    <h2>{{ _('Add Group') }}</h2>
    <form action="" method="post" name="add_group">
        {{ form.hidden_tag() }}
        <p>
            {{ _('Please enter group name.') }}
        </p>
        <table class="table table-width-400">
            <tr>
                <th>{{ _('Group Name') }}</th>
                <td>{{ form.group_name(size=(24)) }}</td>
                <td>
                    {% if form.group_name.errors %}
                    <span style="color: red;">
                    {% for error in form.group_name.errors %}
                    [{{ error }}]
                    {% endfor %}
                    </span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <input class="btn btn-primary" type="submit" value="add group"/>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}